.is_cascade
    h1 Заголовок первого уровня
    h2 Заголовок второго уровня
    h3 Заголовок третьего уровня
    h4 Заголовок четвертого уровня
    h5 Заголовок пятого уровня
    h6 Заголовок шестого уровня
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores et nisi quasi quis reprehenderit voluptatem.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque enim impedit in laboriosam nam necessitatibus rerum. A fugiat reiciendis repellendus rerum tempore totam unde voluptate.
    ul
        li
        li
        li
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos, laboriosam minima modi sapiente voluptates?
    strong
    ol
        li
        li
        li
    blockquote
    // accordion
    // gallery
    // picture
    // video
    // table
    // block_list-slider

