meta( charset="utf-8" )
meta( name="viewport" content="width=device-width, initial-scale=1.0" )
title="Title"
meta( name="theme-color" content="" )
meta( name="color-scheme" content="light" )
<!-- Meta tags -->
meta( name="description" content="" )
meta( name="keywords" content="" )
meta( property="og:title" content="" )
meta( property="og:type" content="" )
meta( property="og:description" content="" )
meta( property="og:url" content="" )
meta( property="og:site_name" content="" )
meta( property="twitter:card" content="summary_large_image" )
meta( property="og:image" content="" )
meta( property="vk:image" content="" )
<!-- Meta End -->
<!-- Favicon -->
link( rel="icon" href="/favicon-96x96.png" type="image/png" sizes="96x96" )
link( rel="icon" href="/favicon.svg" type="image/svg+xml" )
link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon" )
link( rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" )
<!-- Favicon End -->

