section.block.block_image_text
    .block--wrapper
        .block--image
            img(src="/assets/img/1.jpg" alt="" loading="lazy")
        .block--content
            .block--head
            .is_cascade
                p Мы ответственно подошли к выбору стратегии нашего развития. Диверсифицированный портфель позволил нарастить наши компетенции в управлении резорт и бизнес-отелями как под собственным брендом Cosmos, так и под международными брендами
            .block--actions
                a(href="/").button.button-filled-primary.button-accent
                    span Кнопка
                a(href="/").button.button-filled-secondary.button-accent
                    span Кнопка