.breadcrumbs(itemscope="" itemtype="https://schema.org/BreadcrumbList")
    a(href="/" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem")
        <meta itemprop="position" content="1" />
        span(itemprop="name") Главная
    a(href="/" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem")
        <meta itemprop="position" content="2" />
        span(itemprop="name") Раздел
    a(href="/" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem")
        <meta itemprop="position" content="3" />
        span(itemprop="name") Детальная страница